<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="D:/Cloud/Caloriebuddy/static/css/model1.css">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
        rel="stylesheet">
    <title>caloriebuddy</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1>The food you are enjoying : <br> <span>Pizza!</span></h1>
            </div>
            <div class="col-lg-6">
                <img src="D:\Projects\food recognition\data\Food-Recognition\Food_Data\Chicken fried rice\Chicken fried rice-109.jpg" alt="" class="image shadow-lg">

            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="table-responsive ">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td class="right">Calories:</td>
                                <td class="left">294</td>
                            </tr>
                            <tr>
                                <td class="right">Protein:</td>
                                <td class="left">12.2g</td>
                            </tr>
                            <tr>
                                <td class="right">Carbohydrates:</td>
                                <td class="left">35.7 g</td>
                            </tr>
                            <tr>
                                <td class="right">Fiber:</td>
                                <td class="left">2.5 g</td>
                            </tr>
                            <tr>
                                <td class="right"> Fat:</td>
                                <td class="left">10.4 g</td>
                            </tr>
                            <tr>
                                <td class="right">Cholestrol:</td>
                                <td class="left">9.6 mg</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="elements">
                    <div class="buttons">
                        <h4>Was our Prediction correct?</h4>
                        <form action="#" method="POST">
                        <button class="btn btn-outline-success feedback" type="submit">correct!</button>
                        <button class="btn btn-outline-danger feedback" type="submit">Incorrect!</button>
                    </form>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <button class="back-btn">Back</button>
            </div>
            
        </div>

    </div>
</body>

</html>
